.map-sidebar-wrapper_mobile {

    .map-sidebar-wrapper__cover {

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color:#000;
        opacity: 0;
        display: none;
    }

    .sidebar {

        top: 'auto';
        left: 0;
    }
}

.sidebar_mobile {

    padding-top: 0;
    width: 100%;

    .sidebar__city {

        display: none !important;
        height: 0;
    }

    .sidebar__checks {

        margin-top: 0;
        padding-top: 25px;
        display: flex;
        justify-content: start;

        .sidebar__check {
        
            &_active {

                &::before, &::after {

                    display: none;
                }
            }

            &_mobile_active {

                &::after {

                    display: block;
                }
            }

            &:first-child {

                margin-right: 0;
            }

            &:last-child {

                margin-left: auto;
            }
        }
    }
}

.header_mobile {

    padding-right: 54px;
    background-color: #fff;
    z-index: 1001;

    .logo {

        min-width: 0;

        .logo-img {

            display: none;
        }

        .logo-img-mobile {

            display: inline-block;
        }
    }

    .header__change-city-btn {

        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Geometria';
        font-weight: bold;
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #ff7560;
        cursor: pointer;
        padding-left: 15px;
        background: url(../img/city-icon.svg) 0 center no-repeat;

        &_active {

            color: #343332;
            padding-left: 0 !important;
            background: transparent;
        }
    }

    .mobile-btn {

        span {

            background-color: #343332;
        }
    }
}

.change-city_mobile {

    .modal-window__wrapper {

        display: block;
        transition: none;
        transform: none;
        opacity: 1;

        .modal-window__content {

            max-width: none;
            top: -170px;
            transition: top 0.3s ease-in-out;
            padding: 20px;
            padding-top: 0;
            border-radius: 0 0 4px 4px;
            min-height: 250px;

            .modal-window__close {

                display: none;
            }

            .modal-window__head {

                font-weight: normal;
                font-size: 1.5rem;
                margin-bottom: 12px;
                font-family: 'Geometria';
                line-height: 30px;
            }

            .modal-window__body {

                .search-block {

                    .search-block__input {

                        height: 30px;
                        line-height: 28px;
                        padding-left: 6px;
                        padding-right: 6px;
                    }

                    &_writting {

                        .search-block__input {
                        
                            height: 28px;
                        }
                    }
                }
            }
        }
    }

    &.modal-window_animate {

        .modal-window__wrapper {
        
            .modal-window__content {
            
                top: 80px;
            }
        }
    }
}


@media screen and (max-width:460px) {

    .header_mobile {

        padding-right: 38px;

        .logo {

            margin-left: 10px;
        }
    
        .header__change-city-btn {
        
            font-size: 0.8rem;
            padding-left: 12px;
        }

        .mobile-btn {

            width: 48px;
        }
    }

    .sidebar_mobile {

        padding-left: 10px;
        padding-right: 10px;

        .sidebar__checks {

            .sidebar__check {

                font-size: 0.8rem;
            }
        }
    
        .sidebar__switch {

            font-size: 0.8rem;

            .switch {

                margin-right: 20px;
            }
        }

        .sidebar__items {

            margin-left: -10px;
            margin-right: -10px;

            .sidebar__item {

                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .mobile-menu {

        .mobile-menu-close {

            right: 0;
        }
        
        .mobile-menu-body {

            padding-left: 10px;
            padding-right: 10px;
        }

        .mobile-menu-footer {

            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .change-city_mobile {

        .modal-window__wrapper {
    
            .modal-window__content {

                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

@media screen and (max-width:360px) {

    .header_mobile {
    
        .header__change-city-btn {
        
            font-size: 0.6rem;
            padding-left: 10px;
        }
    }
}